# Visual Studio and Visual Studio Code

# Visual Studio folder
.vs/
# Build results
bin/
obj/
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
# Build directories
Debug/
Release/
# Visual C++ project files
*.vcxproj*
# C# project specific files
*.csproj.user
# Visual Studio Code folder
.vscode/
.history/
*.code-workspace
# Other standard C#/.NET Visual Studio artifacts